{% extends "layout.html" %}
{% block content %}
    <div class="container" style="max-width: 1200px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm my-5">
                    <div class="card-body">
                        <h2 class="card-title">Syötä tarkistettava sana</h2>
                        <p class="card-text">Enintään 20 merkkiä</p>
                        <br>
                        <form action="/check_spelling" method="POST">
                            <div class="mb-3">
                                <textarea class="form-control" name="input_word" id="word" rows="1" maxlength="20" placeholder="Kirjoita sana..." required></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Tarkista</button>
                        </form>
                    </div>
                </div>
                {% if suggestions == "Ei kirjoitusvirheitä" %}
                <div class="alert alert-success mt-5" role="alert">
                    Ei kirjoitusvirheitä!
                </div>
                {% endif %}
                {% if suggestions == "Not valid" %}
                <div class="alert alert-success mt-5" role="alert">
                    Et voi antaa numeroita tai erikoismerkkejä, käytä pelkkiä kirjaimia!
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm my-5">
                    <div class="card-body">
                        <h2 class="card-title">Syötä tarkistettava teksti</h2>
                        <p class="card-text">Enintään 200 merkkiä</p>
                        <br>
                        <form action="/fix_spelling" method="POST">
                            <div class="mb-3">
                                <textarea class="form-control" name="input_text" id="text" rows="5" maxlength="200" placeholder="Kirjoita teksti..." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Tarkista</button>
                            <br>
                        </form>
                    </div>
                </div>
                {% if fixed_words == "Et voi antaa numeroita" %}
                <div class="alert alert-success mt-5" role="alert">
                    Et voi antaa numeroita, käytä pelkkiä kirjaimia!
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
