{% extends "layout.html" %}
{% block content %}
    <div class="container" style="max-width: 1200px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm my-5">
                    <div class="card-body">
                        <h2 class="card-title">Antamasi sana: {{ word }}</h2>
                        <br>
                        <form action="/{{ word }}/add" method="POST">
                            <div class="mb-3">
                                {% if suggestions == "Sanaa ei löytynyt sanastosta" %}
                                    <p class="card-text">Sanaa ei löytynyt sanastosta</p>
                                {% else %}
                                    <p class="card-text">
                                    <strong>Tarkoititko:</strong>
                                    <br><br>
                                    {% for suggestion in suggestions %} 
                                        {% if loop.last %}
                                            {{ suggestion }}
                                        {% else %}
                                            {{ suggestion }},
                                        {% endif %}
                                    {% endfor %}
                                    ?
                                    </p>
                                {% endif %}
                            </div>
                            <br><br>
                            <p class="card-text">
                                <strong>Oliko syöttämäsi sana oikein? </strong>
                            </p>
                            <button type="submit" class="btn btn-primary">Lisää sana sanastoon</button>
                            <br><br>
                            <a href="/">Palaa takaisin etusivulle</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
